:root {
    --bg-dark: #0A0C0E;
    --accent-blue: #2F7DE6;
}

body {
    background-color: var(--bg-dark);
    font-family: 'Montserrat', sans-serif;
}


/* Стили для иконок */
.feature-icon {
    /*filter: brightness(0) invert(1); /* Делаем иконки белыми */
    opacity: 0.9;
    transition: opacity 0.2s;
}

.feature-icon:hover {
    opacity: 1;
}

/* Текст */
.text-secondary {
    color: #9CA3AF !important;
}

/* Стрелки слайдера */
.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    background: #1E2126;
    border-radius: 50%;
    z-index: 10;
}

.slick-prev:hover, .slick-next:hover {
    background: var(--accent-blue);
}

.slick-prev:before, .slick-next:before {
    color: white;
    opacity: 1;
    font-size: 20px;
}

.slick-prev { left: -20px; }
.slick-next { right: -20px; }

/* Миниатюры */
.slider-nav .slick-slide {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.slider-nav .slick-current {
    opacity: 1;
}

.slider-nav .slick-current img {
    border-color: var(--accent-blue) !important;
}


.btn-auth {
    background-color: #FF342B;
    border-color: #FF342B;
    color: white;
    padding: 12px 18px;  /* Как в макете */
    border-radius: 4px;   /* Как в макете */
    font-weight: 500;
    transition: all 0.2s;
}

.btn-auth:hover {
    background-color: #e62e26;  /* Чуть темнее при наведении */
    border-color: #e62e26;
    color: white;
}
