# Django секретный ключ
SECRET_KEY=django-insecure-*****************************_k@

# Режим отладки для разработки
DEBUG=True

# Разрешенные хосты (для локальной разработки)
ALLOWED_HOSTS=127.0.0.1,localhost

# База данных для локальной разработки (MySQL)
DB_NAME=***_db
DB_USER=****_user
DB_PASSWORD=******
DB_HOST=localhost
DB_PORT=3306
